---
layout: default
title: IMRC Jobs
---

<div class="section-heading">
    <h2 class="title is-2">Postdocs</h2>
</div>

<div class="container">
We currently have no funded positions. We announce future positions on the <a href="https://www.lists.kit.edu/sympa/info/robotics-worldwide">robotics-worldwide mailinglist</a>. However, interested applicants may contact <a href="mailto:hoenig (at) tu-berlin (dot) de">Wolfgang Hönig</a> regarding potential external fellowships (e.g., <a href="https://www.einsteinfoundation.de/en/programmes/einstein-international-postdoctoral-fellow/">Einstein International Postdoctoral Fellow</a>, <a href="https://www.dfg.de/en/research_funding/programmes/individual/walter_benjamin/index.html">DFG Walter Benjamin Programme</a>).
</div>

<div class="section-heading">
    <h2 class="title is-2">PhD Students</h2>
</div>

<div class="container">
    {% if site.data.jobs.phd.size == 0 %}
        We currently have no funded positions available. We announce future positions on the <a href="https://www.lists.kit.edu/sympa/info/robotics-worldwide">robotics-worldwide mailinglist</a>.
    {% else %}
        <div class="tile is-ancestor is-flex-wrap">

            {% for job in site.data.jobs.phd %}
                {% include job.html %}
            {%- endfor %}

        </div>
    {% endif %}
</div>

<div class="section-heading">
    <h2 class="title is-2">Student Assistants</h2>
</div>

<div class="container">
    {% if site.data.jobs.shk.size == 0 %}
        We currently have no funded positions available. We announce future positions on the <a href="https://www.jobs.tu-berlin.de/en/job-postings?filter%5Bfulltextsearch%5D=&filter%5Bworktype_tub%5D%5B%5D=besch-stud&filter%5Bcompany_section_select%5D%5B%5D=tub%3Afak4">TUB Job Portal</a>.
    {% else %}
        <div class="tile is-ancestor is-flex-wrap">

            {% for job in site.data.jobs.shk %}
                {% include job.html %}
            {%- endfor %}

        </div>
    {% endif %}
</div>
