---
layout: default
title: IMRC Jobs
---

<div class="section-heading">
    <h2 class="title is-2">Postdocs</h2>
</div>

<div class="container">
We currently have no funded positions. However, interested applicants may contact <a href="mailto:hoenig (at) tu-berlin (dot) de">Wolfgang Hönig</a> regarding potential external fellowships (e.g., <a href="https://www.einsteinfoundation.de/en/programmes/einstein-international-postdoctoral-fellow/">Einstein International Postdoctoral Fellow</a>).
</div>

<div class="section-heading">
    <h2 class="title is-2">PhD Students</h2>
</div>

<div class="container">
We currently have no funded positions available.
</div>

<div class="section-heading">
    <h2 class="title is-2">Student Assistants @ TU Berlin</h2>
</div>

<div class="container">
    <div class="tile is-ancestor is-flex-wrap">

        {% for job in site.data.jobs %}
            {% include job.html %}
        {%- endfor %}

    </div>
</div>
