---
layout: default
title: IMRC Teaching
---

<div class="section-heading">
    <h2 class="title is-2">MSc/BSc Thesis</h2>
</div>

<div class="container">
    We recommend <a href="https://www.theses.tu-berlin.de/de/theses?currentEvents%5Bfilter%5D%5Bcustom_value_institutes%5D%5B0%5D=45c0629f-1a41-4ee9-927c-130e394f6354">(I)STROD - (International) Student Thesis and Research Opportunities Database</a> to find a thesis topic.
</div>

<div class="container">
    <div class="tile is-ancestor is-flex-wrap">

        {% for course in site.data.teaching.thesis %}
            {% include course.html %}
        {%- endfor %}

    </div>
</div>

<div class="section-heading">
    <h2 class="title is-2">Summer 2024</h2>
</div>

<div class="container">
    <div class="tile is-ancestor is-flex-wrap">

        {% for course in site.data.teaching.ss2024 %}
            {% include course.html %}
        {%- endfor %}

    </div>
</div>

<div class="section-heading">
    <h2 class="title is-2">Winter 2023/24</h2>
</div>

<div class="container">
    We do not offer any classes this term. If you are interested in robotics, please join the interest group.
</div>

<div class="container">
    <div class="tile is-ancestor is-flex-wrap">

        {% for course in site.data.teaching.ws2023 %}
            {% include course.html %}
        {%- endfor %}

    </div>
</div>

<div class="section-heading">
    <h2 class="title is-2">Summer 2023</h2>
</div>

<div class="container">
    <div class="tile is-ancestor is-flex-wrap">

        {% for course in site.data.teaching.ss2023 %}
            {% include course.html %}
        {%- endfor %}

    </div>
</div>

<div class="section-heading">
    <h2 class="title is-2">Winter 2022/23</h2>
</div>

<div class="container">
    We do not offer any classes this term.
</div>

<div class="section-heading">
    <h2 class="title is-2">Summer 2022</h2>
</div>

<div class="container">
    <div class="tile is-ancestor is-flex-wrap">

        {% for course in site.data.teaching.ss2022 %}
            {% include course.html %}
        {%- endfor %}

    </div>
</div>

<div class="section-heading">
    <h2 class="title is-2">Winter 2021/22</h2>
</div>

<div class="container">
    <div class="tile is-ancestor is-flex-wrap">

        {% for course in site.data.teaching.ws2021 %}
            {% include course.html %}
        {%- endfor %}

    </div>
</div>
