---
layout: default
title: IMRC Team
---

<div class="section-heading">
    <h2 class="title is-2">Team</h2>
</div>

<div class="container">
    <p>For administrative concerns please write to <a href="mailto:office@mrs.tu-berlin.de">office@mrs.tu-berlin.de</a>.<b/></p>
</div>

<div class="container">
    <div class="team tile is-ancestor is-flex-wrap">

        {% for member in site.data.team.team %}
            {% unless member.end or member.role contains "Thesis" or member.role contains "Lab" %}
                {% include teammember.html %}
            {% endunless %}
        {%- endfor %}

    </div>
</div>

<div class="section-heading">
    <h2 class="title is-2">Lab</h2>
</div>

<div class="container">
    <div class="team tile is-ancestor is-flex-wrap">

        {% for member in site.data.team.team %}
            {% if member.role contains "Lab" %}
                {% unless member.end %}
                    {% include teammember.html %}
                {% endunless %}
            {% endif %}
        {%- endfor %}

    </div>
</div>

<div class="section-heading">
    <h2 class="title is-2">Thesis Supervision</h2>
</div>

<div class="container">
    <div class="team tile is-ancestor is-flex-wrap">

        {% for member in site.data.team.team reversed %}
            {% if member.role contains "Thesis" %}
                {% unless member.end %}
                    {% include teammember.html %}
                {% endunless %}
            {% endif %}
        {%- endfor %}

    </div>
</div>

<div class="section-heading" id="alumni">
    <h2 class="title is-2">Alumni</h2>
</div>

<div class="container">
    <ul class="paper">

        {% for member in site.data.team.team reversed %}
            {% if member.end %}
                {% include teammember_list.html %}
            {% endif %}
        {%- endfor %}

    </ul>
</div>
