<div class="tile is-parent">
    <div class="tile is-child card">
      {% if course.image %}
      <div class="card-image has-text-centered">
        <figure class="image is-inline-block">
          <img src="assets/img/{{ course.image }}" alt="{{ course.name }}">
        </figure>
      </div>
      {% endif %}
      <div class="card-content paper">
        <p class="title">
          {{ course.name }}
        </p>
        <p class="venue">
          {{course.time}}
        </p>
        {% if course.credits %}
        <p class="author">
          Credits: {{ course.credits }}
        </p>
        {% endif %}
        {% if course.note %}
        <p class="note">
          {{ course.note | newline_to_br}}
        </p>
        {% endif %}
      </div>
      <footer class="card-footer">
        {% if course.moses %}
        <a href="{{course.moses}}" class="card-footer-item"><span class="icon"><i class="fas fa-external-link-alt"></i></span><span>Module</span></a>
        {% endif %}
        {% if course.isis %}
        <a href="{{course.isis}}" class="card-footer-item"><span class="icon"><i class="fas fa-external-link-alt"></i></span><span>ISIS</span></a>
        {% endif %}
        {% if course.pdf %}
        <a href="{{course.pdf}}" class="card-footer-item"><span class="icon"><i class="fas fa-file-pdf"></i></span><span>Details</span></a>
        {% endif %}
        {% if course.apply %}
        <a href="{{course.apply}}" class="card-footer-item"><span class="icon"><i class="fas fa-at"></i></span><span>Apply</span></a>
        {% endif %}
      </footer>
    </div>
</div>