<li>
  <span class="title">
    {{ member.name }},
  </span>
  <span class="venue">
    {{member.start}} - {% if member.end %} {{member.end}} {% else %} now {% endif %},
  </span>
  <span class="author">
    {{ member.role }}
    {% if member.next_role %}
    → {{ member.next_role }}
    {% endif %} 
  </span>
  {% if member.note %}
  <span class="note">
     , {{ member.note | newline_to_br}}
  </span>
  {% endif %}

  {% if member.website or member.github or member.thesis %}
    <br>
    [
    {% if member.website %}
    <a href="{{member.website}}"><span class="icon"><i class="fas fa-external-link-alt"></i></span></a>
    {% endif %}
    {% if member.github %}
    <a href="https://github.com/{{ member.github }}"><span class="icon"><i class="fab fa-github"></i></span></a>
    {% endif %}
    {% if member.thesis %}
    <a href="{{member.thesis}}"><span class="icon"> <i class="fas fa-file-pdf"></i> </span></a>
    {% endif %}
    ]
  {% endif %}
</li>
